.ipynb_checkpoints
__pycache__
test_napa_app.ipynb
test_napa_app2.ipynb
test_napa_app3.ipynb
sql_id.txt
depreciated.py
scraping
gif
napa_app/napa/test.py
tests/results_prob_min_method.csv
tests/results_prob_new_similar.csv
tests/results_prob_std_method.csv
tests/diff_sim_std.png
napa_app/napa/log.pkl
napa_app/lr_prob.pkl
napa_app/optimized_model_xgb.sav
optimized_model_xgb.sav
lr_prob.pkl
