<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>How to use</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/starter-template/">

    <!-- Bootstrap core CSS -->
     <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #2F3276;">
      <!--<a href="https://www.napaleagues.com">
      <img src="static/napa.jpg" alt="" style="width:50px;height:50px;">
      </a>-->
      <b><a class="navbar-brand mx-auto">Match Assistant</a></b>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://www.magic8billiards.herokuapp.com/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="https://www.magic8billiards.herokuapp.com/how">How to use <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="https://github.com/cfodonnell/NAPA-Amateur-Pool">GitHub <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="https://www.linkedin.com/in/callum-o-donnell/">LinkedIn <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
    
<br><br>
    <main role="main" class="container">

      <div class="starter-template">
        <h2><b>Welcome to Magic8Ball Billiards!</b></h2>
    </div>

    <div class = "container">
    <p>Magic8Ball Billiards is an app designed to guide you through choosing your players during a team match in the North American Poolshooter's Association (NAPA). The player suggestions provided by the app are statistically proven to increase your probability of winning the match by an average of 5%, and boost your points tally an average of 8 more points per match! See below for instructions on how to get started. Full technical details can be found in the GitHub repository linked in the navigation bar.</p>
    
    <h3>Loading the players</h3>
    <p>Enter the NAPA player IDs for your team in the boxes under the heading "Your team" in 5 digit format (e.g. 61781). Enter the player IDs corresponding to the opposing team in the second column. Note: Currently Magic8Ball Billiards only supports 5 v 5 team matches, however functionally for smaller or larger teams will soon be introduced. </p>
    <p>Alternatively, select "Create Random Team" to generate a list of example players with randomly distributed parameters. </p>
    <p>When ready, click the "Load Teams" button. Please wait a few seconds to allow the player information to be imported.</p>
    
    <h3>Navigating through the match</h3>
    <p>Once the teams are loaded, you'll see a table containing the players and their skill levels. After the coin toss, use the radio button to select which team will be selecting their player first in round one.</p>
    
      <form  action="/" method="POST">
        <div align = 'center'>
          <button type="submit" class="btn btn-default btn-lg" style="color:white;background-color: #2F3276;">Get Started!</button>
        </div>
      </form>
      
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
      
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    
    <div align = 'center'>
    
    </div>
  </body>
</html>
