<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>Summary</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/starter-template/">

    <!-- Bootstrap core CSS -->
     <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <<link href="../static/css/starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #2F3276;">
      <a href="https://www.napaleagues.com">
      <img src="static/napa.jpg" alt="" style="width:50px;height:50px;">
      </a>
      <a class="navbar-brand mx-auto">Pool Team Captain Match Assistant</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          
        </ul>
      </div>
    </nav>
    
<br><br>
    <main role="main" class="container">

      <div class="starter-template">
        <h2><b>Summary</b></h2>
    </div>

    <div class = "container">
        
      
      <table class="table table-hover">
      <tr style='color:black;'><th>Player A</th><th>Score Coefficient</th><th>Player B</th></tr>
      {% for i in range(0,5) %}
      <tr><td>{{ final[i,0] }} </td><td>{{ "{0:.2f}".format(final[i,1]) }}</td><td> {{ final[i,2] }}</td><td></tr>
      {% endfor %}
      </table>
      
      <h2>The average score coefficient over all <b>{{tot_perms}}</b> match permutations was <b>{{av_coef}}</b>.</h2>
      <h2>The total score coefficient for this match permutation was <b>{{perm_coef}}</b>, ranking it <b>{{rank}}</b> out of <b>{{tot_perms}}</b>.</h2>
      
      <div>
      <img src="data:image/png;base64, {{ plot_url }}" style="width:1000px;height:400px;padding-bottom:50px">
      </div>

    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
      
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    
    
  </body>
</html>
